body{
    background-color: #0B326E;
}

nav h1{
    height: 2vh;
    text-align: center;
    width: 95vw;
    color: #c7bfb4;
    font-weight: bolder;
    font-size: 1.5rem;
}

#mainDiv{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 90vh;
    width: 95vw;
}
#chessBoard{
    height: 80vh;
    width: 80vh;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    border: 2px solid  #6E470B;
    box-sizing: border-box;
}
.chess-square{
    background-color: #E6BF83;
    align-items: center;
    display: flex;
    justify-content: center;
}
.chess-square:nth-of-type(2n){
    background-color: #8C6529;
}
.chess-square.row-opposite-color{
    background-color: #8C6529;
}
.chess-square.row-opposite-color:nth-child(2n){
    background-color: #E6BF83;
}
i.chess-piece{
    position: absolute;
}
.white::before{
    color: #fff;
}
.black::before{
    color: #000;
}